*{
    padding: 0px;
    margin: 0px;
}
.navigation
{
    height: 20px;
    background-color: black;
    color: antiquewhite;
    text-decoration: none;
    display: flex;
    justify-content: space-between;
}
.logo
{
    color: antiquewhite;
    text-decoration: none;
    margin-left:10px ;
}
.Nav {
    color: antiquewhite;
    text-decoration: none;
    margin-left: 10px;
}