*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style-type: none;
}
nav{
    height: 80px;
    background-color: black;
    color: antiquewhite;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-size: 30px;
    margin-left: 50px;
    margin-right: 50px;
}
nav ul{
    display: flex;
    margin-right: 50px;
}
nav ul li{
    font-size: 24px;
    margin: 5px 13px;
}
.checkbtn{
    display: flex;
    font-size: 30px;
    margin-left: 50px;
}
#check{
    display: none;
}
@media screen and (max-width:600px){
.checkbtn{
    display: flex;
}
nav ul{
    flex-direction: column;
    align-items: center;
    position: fixed;
    top: 80px;
    background-color: black;
    width: 100%;
    height: 290px;
    left: -100%;
    transition: all 1s ease-in-out;
}
nav ul li{
    margin: 10px 0px;
    padding: 4px 13px;
}
nav ul li :hover{
    background-color: antiquewhite;
    color: black;
}
#check:checked ~ ul {
    left: 0;
}
    
}
.herosection{
    /* display: flex; */
    justify-content: center;
    width: 100%;
    /* display: flex; */
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: start;
    font-size: 18px;
    background-color:yellow;
    height: 700px;
}
.img{
    display: flex;
    flex-direction: column;
    height: 400px;
    width: 400px;
    margin-left: 700px;
}